<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuenta-transaccion">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h5{
       font-family: Helvetica;
       color: #072146;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: #072146
     }
     .btn-primary{
       background: #072146!important;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar10}}" class="container">
      <!--   <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h4 class="col-md-5">Email: {{email}}</h2>-->
           <h5 class="col-md-5">Account ID: {{idcue}} </h5>
          
          <input type="description" class="form-control" id="Enter Description"  placeholder="Description" value="{{description::input}}"></br>
          <input type="date" class="form-control" id="date" format="dd/mm/yyyy" placeholder="Enter Date" value="{{date::input}}"></br>
          <input type="amount" class="form-control" id="amount"  placeholder="Enter Amount" value="{{amount::input}}"></br>
          <button  class="btn btn-primary" on-click="agregar">agregar</button><br></br>
          <div hidden$="{{isvar11}}"class="alert alert-success">
           <strong>Movimiento agregado!</strong>
         </div>
   </div>

   <iron-ajax
     id="doagregar"
     url="http://localhost:3000/api-uruguay/v1/users/{{idr}}/accounts/{{idcue}}/transactions"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class CuentaTransaccion extends Polymer.Element {
     static get is() { return 'cuenta-transaccion'; }
     static get properties() {
       return {
         isvar11:{
           type:Boolean,
           value:true
         },
         isvar10:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         },
         balance:{
           type:String,
         }
       };
     }

      agregar(e) {
        console.log("El usuario ha pulsado el botón agregar");
        var agregarData = {
          "description" : this.description,
          "date" : this.date,
          "amount" : this.amount
        };
        this.$.doagregar.body = JSON.stringify(agregarData);
        this.$.doagregar.generateRequest();
      }
      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor para agregar transaccion");
        console.log(data.detail.response);
        this.isvar11=false;
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
       mostrarDatosRecibidostransaccion(data){

         console.log("Receptor transaccion ");
         console.log(data);
        this.idcue=data.idcue;
        this.isvar10=data.isvar10;
        this.idr=data.idr;
        console.log("Receptor transaccion idcue "+ this.idcue);
        console.log("Receptor transaccion idr"+ this.idr);
       }
   }
   window.customElements.define(CuentaTransaccion.is, CuentaTransaccion);
 </script>
</dom-module>
