<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component-2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Datos personales</h1>
    <h2>Hola mi nombre es [[nombre]], y mi ID es [[id]]</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component-2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
