<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="user-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="obtenerUsuario"
               url="http://localhost:3000/api-uruguay/v1/users/{{id}}"
               handle-as="json"
               on-response="mostrarDatos">

    </iron-ajax>
      <div class="row">
        <h1 class="col-6">{{email}}</h1>
        <h2 class="col-6">{{password}}</h2>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserComponent extends Polymer.Element {
      static get is() { return 'user-component'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      mostrarDatos(datos) {
        console.log(datos)
        console.log(datos.detail.response)
        this.email = datos.detail.response.email
        this.password = datos.detail.response.password
      }
    }

    window.customElements.define(UserComponent.is, UserComponent);
  </script>
</dom-module>
