<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: #072146;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar5}}" class="container">
      <!--   <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h4 class="col-md-5">Email: {{email}}</h2>-->
           <h4 class="col-md-5">Account ID: {{idcue}} </h4>
           <h4 class="col-md-5">Balance: {{balance}}</h4>

                                      <table class="table table-striped table-bordered table-hover" style="margin: unset;">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">DESCRIPTION</th>
                                            <th scope="col">AMOUNT</th>
                                            <th scope="col">DATE</th>
                                          </tr>
                                        </thead>
                                      <tbody>
                                      <template is="dom-repeat" items="{{listMovements}}" as="itemsMov">
                                        <tr>
                                           <td style="width: 5%;">{{itemsMov.id}}</td>
                                           <td style="width: 50%;">{{itemsMov.description}}</td>
                                           <td style="width: 20%;">{{itemsMov.amount}}</td>
                                           <td style="width: 25%;">{{itemsMov.date}}</td>
                                         </tr>
                                      </template>
                                    </tbody>
                                </table>
   </div>
   <iron-ajax
     auto=""
     id="getUser"
     url="http://localhost:3000/api-uruguay/v1/users/{{idr}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
    <iron-ajax
       auto=""
       id="getUser1"
       url="http://localhost:3000/api-uruguay/v1/users/{{idr}}/accounts/{{idcue}}/transactions"
       handle-as="json"
       on-response="showmovement"></iron-ajax>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class MovimientosUsuario extends Polymer.Element {
     static get is() { return 'movimientos-usuario'; }
     static get properties() {
       return {
         isvar5:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         },
         balance:{
           type:String,
         }
       };
     }
     showData(data){
        //console.log(data);
        console.log("Recibidos datos del movimientos usuarios:");
  // mLab nos devuelve un array con el objeto solicitado por eso [0]
        console.log(data.detail.response);
        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showmovement(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
   // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.balance = data.detail.response.balance;
         this.listMovements = data.detail.response.transacction;
       }
       mostrarDatosRecibidosmovimientos(data){

        this.idcue=data.idcue;
        this.isvar5=data.isvar5;
        this.idr=data.idr;
        this.isvar10 = true;
        console.log("Receptor movimientos idcue "+ this.idcue);
        console.log("Receptor movimientos idr"+ this.idr);
       }
   }
   window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);
 </script>
</dom-module>
